@charset "utf-8";
/* 모바일 아이폰 기준 */
body{
    position: relative;
    width: 100%;
}
/* toggle button */
.side_toggle_button{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: violet;
    z-index: 1;
    bottom: 15px;
    right: 15px;
}
.toggle_menu{
    position: fixed;
    z-index: 1;
    bottom: 80px;
    right: 15px;
}
.toggle_menu li{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: rgb(236, 201, 236);
    text-align: center;
    margin-top: 10px;
}
.toggle_menu_icon{
    position: relative;
    top: 15px;
}
.toggle_menu_text{
    position: relative;
    bottom: 10px;
}
/* icon */
.fa-bars{
    position: absolute;
    left: 17px;
    top: 16px;
}
.fa-user,.fa-keyboard{
    font-size: 27px;
}
.fa-folder-open{
    font-size: 27px;
    margin-left: 4px;
}
.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: #5fb6ca; */
}
.header_navbar{
    display: none;
}
/* about section */
#about_section{
    width: 100%;
    background-color:thistle;
}
#about_section h2{
    text-align: center;
    margin-bottom: 10px;
}
.about_text{
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
}
.profile_img{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* tech section */
#tech_section{
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}
.tech_bar{
    margin-bottom: 50px;
    padding: 0;
}
.tech_bar li{
    position: relative;
    margin-bottom: 10px;
}
.tech_bar li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    margin-top: 18px;
    background-color: gray;
}
.tech_bar li::after{
    position: absolute;
    content: '';
    left: 0;
    width: 75%;
    height: 7px;
    margin-top: 18px;
    background-color: rgb(27, 80, 228);
}
.coding_bar{
    padding: 0;
}
.coding_bar li{
    margin-bottom: 10px;
}
.coding_bar li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    margin-top: 18px;
    background-color: gray;
}
.coding_bar li::after{
    position: absolute;
    content: '';
    left: 0;
    width: 85%;
    height: 7px;
    margin-top: 18px;
    background-color: rgb(27, 80, 228);
}
/* works section */
#works_section{
    position: relative;
    top: 50px;
}


/* 태블릿 아이패드 air */
@media all and (min-width: 768px) {
    body{
        width: 100%;
        background-color: orange;
    }
    .side_toggle_button{
        display: none;
    }
    .toggle_menu{
        display: none;
    }
    .header_navbar{
        display: block;
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        background-color: cornflowerblue;
        z-index: 5;
    }
    .header_navbar ul{
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .header_navbar ul li{
        /* float: left; */
        margin-right: 20px;
    }
}
/* 데스크탑 */
@media all and (min-width: 960px) {
    body {
        background-color: darkkhaki;
    }
    .side_toggle_button{
        display: none;
    }
    .toggle_menu{
        display: none;
    }
}